<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymHomie"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".events_finder.EventsLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".gymqr.QrScanner"
            android:exported="false" />
        <activity
            android:name=".gymqr.gym_membership"
            android:exported="false" />
        <activity
            android:name=".Home_Activity"
            android:exported="false" />
        <activity
            android:name=".BarbellCalculator_Activity"
            android:exported="false" />
        <activity
            android:name=".Step_Activity"
            android:exported="false" />
        <activity
            android:name=".popup_ManageHomies"
            android:exported="false"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Goal_Activity"
            android:exported="false" />
        <activity
            android:name=".Water_Intake_Activity"
            android:exported="false" />
        <activity
            android:name=".Gym_Reminder_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity_signup"
            android:exported="false" />
        <activity
            android:name=".Stopwatch_Activity"
            android:exported="false" />
        <activity
            android:name=".GymFinder_Activity"
            android:exported="false" />
        <activity
            android:name=".workouts.AddWorkout"
            android:exported="false"
            />
        <activity
            android:name=".Workout_Activity"
            android:exported="false"
            />
        <activity
            android:name=".Login_activity"
            android:exported="false" />
        <activity
            android:name=".WeightCalculator_Activity"
            android:exported="false" />
        <activity
            android:name=".CalculatorMenu_Activity"
            android:exported="false" />
        <activity
            android:name=".CaloriesCalculator_Activity"
            android:exported="false" />
        <activity
            android:name=".Achievement_Activity"
            android:exported="false" />
        <activity
            android:name=".workouts.addExercise"
            android:exported="false" />
        <activity
            android:name=".Body_Measurement_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <service android:name=".TimerService" />
    </application>

</manifest>